<h1>Bookmarks in <%= @list.name %></h1>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li>Movie: <%= bookmark.movie.title %> Comment:<%= bookmark.comment %> </li>
  <% end %>
</ul>

<%= link_to "Add a new bookmark",  new_list_bookmark_path(@list), class: "btn btn-outline-dark"%>
<%= link_to "Back to #{@list.name}",  list_path(@list), class: "btn btn-outline-dark"%>
